<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="col-md-8 footer-links">
        {% block footer_nav %}
          <ul class="list-unstyled">
            {% block footer_links %}
              <li><a href="http://vasi.gov.vn/">{{ _('About {0}').format(g.site_title) }}</a></li>
              <li>
                <b>CƠ QUAN CHỦ QUẢN: BỘ TÀI NGUYÊN VÀ MÔI TRƯỜNG</b>
              </li>

              <li>Giấy phép số 214 / GP - TTĐT do Cục Phát thanh, Truyền hình và Thông tin điện tử cấp ngày 13 / 11 / 2020</li>

              <li>Chịu trách nhiệm nội dung: Tổng cục trưởng Tổng cục Biển và Hải đảo Việt Nam</li>

              <li>Ghi rõ nguồn khi phát hành lại thông tin từ Cổng Thông tin điện tử này</li>

            {% endblock %}
          </ul>
          <ul class="list-unstyled">
            {% block footer_links_ckan %}
              <li><a href="http://www.opendefinition.org/okd/"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a></li>
           
           
              <li> Đơn vị quản lý: Trung tâm Thông tin, dữ liệu biển và hải đảo quốc gia</li>

              <li> Địa chỉ: 83 Nguyễn Chí Thanh, Đống Đa, Hà Nội</li>

              <li> Email: vasi@monre.gov.vn</li>

              <li>  Điện thoại: 02437735449</li>

              <li> Fax: (243) 7735093</li>
              {% endblock %}
          </ul>
        {% endblock %}
      </div>
      <div class="col-md-4 attribution">
        {% block footer_lang %}
          {% snippet "snippets/language_selector.html" %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
